# Copy to .env and fill values
FIRST_NAME=John
LAST_NAME=Doe
GMAIL_USERNAME=kien.test.nguyen.duc
GMAIL_PASSWORD=Str0ngP@ssw0rd!234
RECOVERY_EMAIL=
PHONE_NUMBER=093

# Proxy (legacy style only): host:port or host:port:user:pass
PROXY=103.252.137.184:10031:kien:kienkien123
# Scheme for PROXY (http|https|socks5)
PROXY_SCHEME=http

CAMOUFOX_OS=windows
HEADLESS=false
HUMANIZE=true
PERSISTENT_CONTEXT=true
USER_DATA_DIR=profiles/${GMAIL_USERNAME}
DEBUG=false 