# Copy to .env and fill values (only needed keys)
GMAIL_PASSWORD=Str0ngP@ssw0rd!234

# Proxy (legacy style only): host:port or host:port:user:pass
PROXY=103.252.137.184:10031:kien:kienkien123
# Scheme for PROXY (http|https|socks5)
PROXY_SCHEME=http

CAMOUFOX_OS=windows
HEADLESS=false
HUMANIZE=true
PERSISTENT_CONTEXT=true
USER_DATA_DIR=profiles/example
DEBUG=false